body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: aliceblue;
}

h1{
    font-size: 4em;
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
}
